<div *ngIf="isLoading" class="no-form-state">
  <p>Loading process form...</p>
</div>
<div *ngIf="!isLoading && hasForm && props; else elseBlock">
  <app-flwform [props]="props"></app-flwform>
</div>
<ng-template #elseBlock>
<div class="no-form-state" *ngIf="!isLoading">
  <p>No form is available for this process.</p>
  <button
    type="button"
    class="flw__component__button flw__component--button flw__component--primary__button"
    (click)="clickEvent()"
  >
    Start Process
  </button>
</div>
</ng-template>
