<section class="task-header" *ngIf="taskHeader as taskHeader">
  <div class="task-header__title">{{ taskHeader.name }}</div>
  <div class="task-header__item">
    <span class="task-header__label">Assignee</span>
    <span class="task-header__value">{{ taskHeader.assignee }}</span>
  </div>
  <div class="task-header__item">
    <span class="task-header__label">Due Date</span>
    <span class="task-header__value">{{ taskHeader.dueDate }}</span>
  </div>
  <div class="task-header__item">
    <span class="task-header__label">Created</span>
    <span class="task-header__value">{{ taskHeader.createdDate }}</span>
  </div>
</section>
<div *ngIf="isLoading" class="no-form-state">
  <p>Loading task form...</p>
</div>
<ng-container *ngIf="!isLoading && hasForm; else noTaskForm">
  <div *ngIf="formData | async as formData">
    <app-flwform [props]="formData.props" [payload]="formData.variables"></app-flwform>
  </div>
</ng-container>
<ng-template #noTaskForm>
  <div class="no-form-state" *ngIf="!isLoading">
    <p>No form is available for this task.</p>
    <button
      type="button"
      class="flw__component__button flw__component--button flw__component--primary__button"
      (click)="completeWithoutForm()"
    >
      Complete
    </button>
  </div>
</ng-template>
